footer
    section.wrapper
        .footer.flex
            a.logo.flex(href="#") MISOCIAL
                .img 
                    img(src="../img/logo.png", alt="")
            nav.foot-menu.flex
                ul.flex 
                    +menu(menu, "violet")
.wrapper
    .copyrayt
        p © 2017 Mass Impressions & Tranmautritam. Make the right impression.