header 
    section.first
        .header.flex.wrapper
            a.logo.flex(href="#") MISOCIAL
                .img 
                    img(src="../img/logo.png", alt="")
            .hamburger 
                span 
                span 
                span 
            nav.main-menu.flex
                ul.flex 
                    +menu(menu, "white")
        .wrapper.pricing-table 
            strong SOCIAL MARKETING & ANALYTICS
            h2.title Pricing Table
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
        .arrow
            img(src="../img/arrow.png", alt="")
