section.plan#plan
    .wrapper
        .title-info
            h3 Misocial
            h1 Select a Plan
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
        .flex
            +card (cards.free)
            +card (cards.basic)
            +card (cards.vip)
section.proposition 
    .wrapper
        h3 SOCAL MARKETING & ANALYTICS
        p Take control of your data
        .flex
            .btn
                a(href="#" class="violet") get started
            .btn
                a(href="#" class="violet") explore features




        