
.footer
    padding: 50rem 0
    justify-content: space-between
    align-items: center
    a
        color: #37374a
    
.foot-menu
    .flex
        align-items: center
    li
        a
            padding: 0 25rem
            color: #37374a
            &:hover
                color: #756edc
    .btn
        padding-left: 25rem
.copyrayt 
    padding: 30rem 0
    width: 100%
    border-top: 1px solid #bdbdc2
    font-size: 14rem
    line-height: 19rem
    color: #6a6a77
    font-weight: 500